.btn_login {
    margin:20px;
}
.btn_login a {
    color:blue;
    padding: 10px;
    background: #EFEFEF;
    border:1px solid silver;
}
.btn_login a:hover {
    text-decoration: underline;
    color:#3535FF;
    opacity: 0.9;
}

