@import '../../../../index.scss';

.friend {
    .friendLink {
        display: flex;
        align-items: center;
        padding: 15px 0px;
        .avatar {
            width: 44px;
            height: 44px;
            border-radius: 75px;
        }
        .userName {
            color: #737373;
            font-family: $Lato;
            font-size: 12px;
            margin:0 5px;
        }
    }
}