.error_page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.error_content {
    margin: 0 50px;
    text-align: center;
}

.navlink {
    color: #8F2243;
}