.friend {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin: 25px;
    margin-top: 0;
    cursor:pointer;
}
.friend img {
    height: 50px;
    width: 50px;
    border-radius:50px;
}
.friendsName {
    color:#FFF;
    font-size: 14px;
}
.friendsName:hover {
    transition:all .3s linear;
    color:#F8A335;
}