.authentication {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 15px;
    background: #9053c7;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}
