.horizontal_line {
    background: #01275C;
    width: 200px;
    height: 1px;
}

.newsToolbar {
    width: 200px;
    margin:10px 20px;
    background: #FFF;
    box-sizing: content-box;
    padding: 0px 20px;
    .title {

    }
    .newsToolbar__Content {
        
    }
}