.horizontal_line {
    background: #01275C;
    width: 50%;
    height: 1px;
}

.newsToolbar {
    width: 35%;
    margin: 10px 20px;
    background: #FFF;
    padding: 0px 20px;

    @media screen and (max-width: 1024px) {
        width: 40%;
    }

    @media screen and (max-width: 768px) {
        display: none;
    }
}