.newsItem {
    box-sizing: border-box;
    padding: 10px 0px;
    background: #fff;
    max-width: 85%;
    cursor: pointer;

    .newsItem__body {
        box-sizing: border-box;
        padding: 20px;

        .date {
            font-size: 12px;
        }

        .newsItem__title {
            font-size: 24px;
            line-height: 32px;

            @media screen and (max-width: 768px) {
                font-size: 20px;
                line-height: 28px;
            }
        }

        .newsItem__text {
            font-size: 14px;
            line-height: 22px;

            @media screen and (max-width: 768px) {
                font-size: 13px;
                line-height: 20px;
            }
        }

        .newsItem__link {
            margin: 20px 0px;
            word-wrap: break-word;
            overflow-wrap: break-word;
            word-break: break-word;
        }
    }
}