.notificationItem {
    background-color: #20232A;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
}
.notificationItem:hover span {
    padding-right: 25px;
    color: #61DAFB;
}
.notificationItem:hover span:after {
    opacity: 1;
    right: 0;
}
.notificationItem span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.notificationItem span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    transition: 0.5s;
}