.title {
    margin:50px 0 40px 40px;
}
.titleNavLink {
    cursor:pointer;
    width: 30%;
}
.titleNavLink h2 {
    color:#DCD079 !important;
}
.titleNavLink:hover {
    transition:all .7s ease;
    text-decoration:underline;
}
.friendsList {
    display:flex;
    flex-wrap:  wrap;
}