.title {
    margin:50px 0 40px 40px;
    color:#DCD079;
    cursor:pointer;
    width: 30%;
}
.title:hover {
    transition:all .7s ease;
    text-decoration:underline;
}
.friendsList {
    display:flex;
    flex-wrap:  wrap;
}