.pages {
    display:flex;
    justify-content: center;
    margin: 10px 0px;
}
.selected_page {
    font-weight:bold;
    margin: 10px;
}
.page {
    margin: 10px;
    color:#222222;
    background: none;
    border:none;
    font-size: 17px;
}