.user {
    margin: 20px 175px;
    text-align: center;
}
.user img {
    width:100px;
    height: 100px;
    border-radius: 100px;
}
.user h4 {
    color:#FFF;
}
.user h6 {
    color:#FFF;
}
.user button {
    padding:5px 10px;
    font-family: 'Lato', sans-serif;
    border-radius: 3px;
} 
.user button:hover {
    transition:all .3s linear;
    opacity:0.9;
}
.btn_following {
    border:1px solid #E3E3E3;
    background-color: #FFF;
    color: #000;
    font-weight: bold;
}
.btn_unfollow {
    background-color:#0275D8;
    border:1px solid #4088FA;
}