@import '../../../../../../../index.scss';

.user {
    flex: 2 600px;
    text-align: center;
    .avatar {
        width:100px;
        height: 100px;
        border-radius: 100px;
    }
    .followBtn {
        font-weight: bold;
        font-family: $Poppins;
    }
}



