.posts {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}
.postPage {
    margin-left: 20px;
}
.postedNothingBlock {
    padding: 100px;
    margin: auto;
}
.postedNothingTitle {
    text-align: center;
}
.addPost {
    display: flex;
    justify-content: center;
    padding: 25px 0;
}

.content {
    display: flex;
    justify-content: center;
}

.textfield {
    width: 400px;
    padding: 10px;
    font-size: 16px;
}