@import '../../../../../index.scss';

.newsItem {
    border-bottom: 1px solid #EFEFEF;        
    padding: 10px 20px;
    cursor: pointer;
    .newsItem_link {
        color: #0000EE;
    }
    .newsItem__text {
       font-family: $OpenSans;
    }
    .views {
        color: #858585;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin: 5px 0px;
    }
    &:hover {
        transition: all .4s  ease;
        background: #EFEFEF;
    }
}