@import '../../../../../index.scss';

.followingBlock {
    display:flex;
    align-items: center;
    margin: 0px 10px;
    h3 {
        color: #FFF;
    }
    p {
        color: #FFF;
    }
    .followingContainer {
        margin-right: 50px;
        .mainFollowingInf { 
            display:flex;
            justify-content:space-between;
            margin:auto; 
            .infBlock {
                text-align: center;
                margin: 10px;
            }
        }
        .btn_following {
            display: flex;
            justify-content: center;
        } 
    }
}
.btn_following button {
    width: 100%;
    font-family: 'Lato', sans-serif;
    border-radius: 3px;
}
.btn_following button {
    transition:all .3s linear;
    opacity:0.9;
}
.followingButton {
    border:1px solid #E3E3E3;
    background-color: #FFF;
    color: #000;
    font-weight: bold;
}
.unfollowingButton {
    background-color:#0275D8;
    border:1px solid #4088FA;
} 

.horizontal_line {
    height: 1px;
    width: 300px;
    background-color: white;
}