@import '../../../../../index.scss';

.container {
    border: 4px dashed rgb(190, 190, 190);
    height: 100%;
    margin: 40px auto;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    .mainContent {
        text-align: center;
        .title {
            color: rgb(196, 196, 196);
            font-size: 18px;
        }
        .mainContent_text {
            font-size: 14px;
            color: #222;
        }
        .hidden_textfield {
            @extend .hidden_textfield;
        }
    }
}

.deleteAvatar {
    margin: 40px auto;
    height: 100%;
    text-align: center;
    .text {
        font-size: 15px;
        padding: 20px;
        color: #333333;
        font-family: $OpenSans;
    }
    .hidden_textfield {
        @extend .hidden_textfield;
    }
}