.notification {
    display: flex;
    flex-direction:column;
    justify-content: right;
    order: 1;
}
.notificationIcon {
    font-size: 18px;
    margin-top: 9px;
    cursor:pointer;
    padding: 10px;
}
.menu {
    padding: 15px;
    background: white;
    width: 200px;
    box-shadow: 2px 2px 8px rgba(0,0,0,.1);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    right: 49px;
    margin-top: 35px;
}
.menu h3 {
    font-size: 16px;
    color: rgba(0,0,0,.6);
    margin: 0 0 10px;
    padding: 0 5px;
    position: relative;
}
.menu h3:after {
    content: "";
    width: 6px;
    height: 6px;
    background: #80C8A0;
    position: absolute;
    right: 5px;
    bottom: 2px;
    box-shadow: -8px -8px #80C8A0, 0 -8px #80C8A0, -8px 0 #80C8A0;
}
.menuList {
    list-style: none;
    margin: 0;
    padding: 0; 
    border-top: 1px solid rgba(0,0,0,.3);
}
.menuItem {
    display: block;  
    font-size: 13px;
    color: rgba(0,0,0,.6);
    padding: 5px;
    position: relative;
    transition: .3s linear;
    cursor: pointer;
}
.menuItem:hover {
    background: #80C8A0;
    color: white;
}