.formItem h4 {
    cursor: pointer;
}
.rememberMe {
    display:flex;
    align-items: center;
}
.rememberMe input {
    cursor:pointer;
}
.rememberMe p {
    cursor:pointer;
    color:#FFF;
    font-weight: normal;
}    
.error p {
    color:red;
    font-weight: 700;
}
.captcha {
    margin: 10px 0;
}
.captchaInput {
    margin-bottom: 10px;
}