.contact {
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    border-top: 1px solid #E3E3E3;
    &:last-child { border-bottom: 1px solid #E3E3E3; }
}

.contact h4 {
    text-transform: capitalize;
    width: 200px;
    padding: 10px;
    padding-right: none;
    font-size: 14px;
    color: #737373;
    font-weight: normal;
    border-right: 1px solid #E3E3E3;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.userLink {
    padding: 0px 10px;
    color: #222222;
    &:hover {
        transition: all .2s linear;
        color: #4dcadd;
    }
}
.userLink:hover {
    text-decoration: underline;
}