.playlist {
    cursor: pointer;
    margin:0 1em;
}
.playlistsInf h4 {
    color: #455172;
    font-family: 'Open Sans', sans-serif;
}
.editInput {
    margin-top: 18px;
    outline: none;
    border: none;
    color: #455172;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    background: transparent;
    border-bottom: 1px solid silver; 
}
.editInput:focus {
    transition: all .3s ease;
    padding: 5px;
    border-bottom: 1px solid purple;
}
.playlistsInf p {
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    word-spacing: 0.35em;
}
.playlistImg {
    display: flex;
    flex-wrap: wrap;
    width: 208px;
    height: 208px;
} 
.image img {
    width: 100px;
    height: 100px;
    margin-right: 4px;
}
.playlistWithoutUserImg {
    width: 208px !important;
    height: 208px !important;
}