.footer {
    background-color:#20232A;
    border-top: 1px solid #E3E3E3;
}
.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content:space-around;
}
.inf h2 {
    color:#FFF;
}   
.signature h4 {
    color: #61DAFB;
    text-decoration:underline;
    font-size: 15px;
    font-weight:300;
}