@use "../../../../../utils//assets/mixins";

@mixin containerTemplate {
    height: 100%;
    margin: 40px auto;
    max-width: 95%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.container {
    @include containerTemplate;
    border: 4px dashed rgb(190, 190, 190);
}
.containerActive {
    @include containerTemplate;
    border: 4px dashed rgb(200, 200, 200);
    opacity: 0.9;
}

.mainContent {
    text-align: center;
    .title {
        color: rgb(196, 196, 196);
        font-size: 18px;
    }
    .mainContent_text {
        font-size: 14px;
        color: #222;
    }
    .hidden_textfield {
        @include mixins.hidden_textfield;
    }
}


.deleteAvatar {
    margin: 40px auto;
    height: 100%;
    text-align: center;
    .text {
        font-size: 15px;
        padding: 20px;
        color: #333333;
    }
    .hidden_textfield {
        @include mixins.hidden_textfield;
    }
}