.Input .error {
    border:3px solid #FF0000;
}
.Input .errorText {
    color: #FF0000;
    font-weight: bold;
    margin: 7px 0px;
    text-align: center;
}
.textarea .error {
    border:3px solid #FF0000;
    font-weight: bold;
}
.textarea .errorText {
    color: #FF0000;
    font-weight: bold;
}
.RememberMe .errorText {
    color: #FF0000;
    font-weight: bold;
}
.dFlexRememberMe {
    display:flex;
    align-items:center;
}

.envelope, .lock {
    position: relative;
    top: 10px;
}

.inputIcon {
    top: -42px;
    left: -100px;
    font-size: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    border-radius: 25px;
    color: #666666;
    transition: all 0.4s;
    z-index: 999;
}