@import '../../index.scss';

.header {
    background-color:#20232A;
    height:200px;
}
.container {
    @extend .container;
    display:flex;
    justify-content: space-between;
    height: 200px;
}
