.editPhoto {
    display:flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    margin: 30px;
    margin-top: 0;
}
.editPhoto img {
    width: 100px;
    height: 100px;
    border-radius:50px;
    margin: 10px;
}
.btn_changeAvatar {
    margin: 10px;
}
.btn_changeAvatar label {
    font-weight: 700;
    color: white;
    padding:4px 20px;
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -1px rgb(53,167,110) inset;
    transition: 0.2s;
    cursor:pointer;
}
.btn_changeAvatar input {
   overflow: hidden;
   width: 0.1px;
   height: 0.1px;
   opacity:0;
   position: absolute;
   z-index:-1;
}
.error {
    padding: 2px;
    color:#0048BA;
}