.btn_showMore {
    display:flex;
    justify-content: center;
    margin: 10px;
}
.btn_showMore button {
    background-color: #5CB85C;
    color:#fff;
    border:1px solid #5CB85C;
    border-radius: 3px;
    padding: 15px 35px;
    font-size: 16px;

}
.btn_showMore button:hover {
    transition:all .3s linear;
    color:violet;
} 