.avatar img {
    width: 70px;
    height: 70px;
    border-radius:50px;
}

.user {
    display:flex;
    cursor:pointer;
    align-items: center;
}
.user:hover {
    transition: all .5s ease;
    background-color: #FFAEFF;
    border-radius: 0 15px 15px 0;
}
.active {
    background-color: #FFAEFF;
    border-radius: 0 15px 15px 0;
}
.userName {
    font-size: 17px;
    color:#000;
}
.lastMessage {
    color:#FFF;
    font-size: 14px;
}

