.header {
    background: #001529;
    padding: 0;
    transition: all 0.3s ease-in-out;
    min-height: 64px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .toolbarWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0 16px;
  }
  
  .menuButton {
    color: white;
    font-size: 18px;
  }
  
  .iconLink {
    margin: 0 12px;
    color: white;
    font-size: 18px;
  
    &:hover {
      color: #1890ff;
    }
  }
  
  .logButton {
    font-weight: bold;
  }