.formWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto; 
    justify-content: center;
    align-items: center;
}
.formWrapper > * {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.formTitle {
    width: 100%;
    display: block;
    line-height: 1.2;
}

.formTitle h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #333333;
}

.formItem {
    position: relative;
    width: 285px;
    z-index: 1;
    margin-bottom: 10px;
}
.formItem input {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
    outline: none;
    border: none;
    overflow: visible;
}

.inputIcon {
    top: 0;
    right: 100px;
    font-size: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    border-radius: 25px;
    color: #666666;
    transition: all 0.4s;
    z-index: 999;
}

.formItem .envelope, .lock {
    position: relative;
    top: 20px;
}

.rememberMe {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.rememberMe input {
    cursor:pointer;
}
.rememberMe p {
    color: #333333;
    font-weight: bold;
    margin:0 7px;
}    
.error {
    color:red;
    font-weight: 700;
    text-align: center;
    display: block;
}
.captcha {
    margin: 10px 0;
}
.captchaInput {
    margin-bottom: 10px;
}
.btn_login {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.btn_login button {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    transition: all 0.4s;
}
.btn_login button:hover {
    background: #333333;
}

.isCurrentFormContainer {
    margin: 10px 0px;
}

.isCurrentForm {
    color: red;
    font-weight: 300;
    cursor: pointer;
}