@mixin container {
  width: 1200px;
  margin: 0 auto;
}

@mixin container980 {
  width: 980px;
  margin: 0 auto;
}

@mixin hidden_textfield {
  overflow: hidden;
  width: 0.1px;
  height: 0.1px;
  opacity:0;
  position: absolute;
  z-index:-1;
}