.authentication {
    width:100%;
    background: linear-gradient(to left top, rgb(0, 0, 255), rgb(0, 225, 255));
    height: 755px;
}

.login {
    display:flex;
    flex-direction:column;
    align-items: center;
}
.formItem h4 {
    cursor: pointer;
}
.rememberMe {
    display:flex;
    align-items: center;
}
.rememberMe input {
    cursor:pointer;
}
.rememberMe p {
    cursor:pointer;
    color:#FFF;
    font-weight: normal;
}    