.authentication {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 15px;
    background: #9053c7;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.authentication * {
    box-sizing: border-box;
}

.login {
    display:flex;
    flex-direction:column;
    align-items: center;
}
.formItem h4 {
    cursor: pointer;
}
.rememberMe {
    display:flex;
    align-items: center;
}
.rememberMe input {
    cursor:pointer;
}
.rememberMe p {
    cursor:pointer;
    color:#FFF;
    font-weight: normal;
}    