* {
    font-family:Arial, sans-serif;
}

ul {
    list-style: none;
}

h1, h2, h3 {
    font-family: 'Ubuntu', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

/* Half Selectors and True Selectors! */

.container {
    width: 1170px;
    margin: 0 auto;
}
.flex-container {
    display:flex;
}
button {
    cursor:pointer;
}

/* Context Menu! */

.contextMenu {
    position: absolute;
}
.contextMenu__list {
    display: flex;
    flex-direction: column;
    padding-inline-start: 0;
    margin: 0;
    background: #222;
    font-size: 12px;
    min-width: 170px;
    z-index: 99;
    transition: all .1s ease;
}
.contextMenu__list-item {
    cursor: pointer;
    padding: 5px 10px;
    font-family: 'Open Sans', sans-serif;
    color: #777;
}

.contextMenu__list-item:hover {
	background: #930659;
	color: #fff !important;
}

/* Font Size! */

.fontSizeEqual10 {
    font-size: 10px;
}
.fontSizeEqual12 {
    font-size: 12px;
}
.fontSizeEqual16 {
    font-size: 16px;
}
.fontSizeEqual20 {
    font-size: 20px;
}
.fontSizeEqual30 {
    font-size: 30px;
}
.fontSizeEqual40 {
    font-size: 40px;
}
.fontSizeEqual50 {
    font-size: 50px;
}

/* Colors! */

.colorWhite {
    color: #FFF;
}

/* Font Weight! */

.fontWeightNormal {
    font-weight: normal;
}
.fontWeightBold {
    font-weight: bold;
}
.fontWeightExtraBold {
    font-weight: 900;
} 

















