body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$Ubuntu: 'Ubuntu', sans-serif;
$Roboto: 'Roboto', sans-serif;
$Lato: 'Lato', sans-serif;
$OpenSans: 'Open Sans', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$Poppins: 'Poppins', sans-serif;

$chosen_color: #4dcadd;

.container {
  width: 1200px;
  margin: 0 auto;
}

.hidden_textfield {
  overflow: hidden;
  width: 0.1px;
  height: 0.1px;
  opacity:0;
  position: absolute;
  z-index:-1;
}


