.mainMusicPage {
    min-height: 100vh; 
}

.tracks {
    padding-inline-start: 0;
}

.currentMusic {
    margin-top: 50px;
}
.audioControler {
    width: 100%;
    height: 50px;
}
.titleWhenNoTracks {
    text-align: center;
    color: #FFF;
    margin: 50px;
}