.Input .error {
    border:3px solid #0048BA;
}
.Input .errorText {
    color: #0048BA;
}
.textarea .error {
    border:3px solid #0048BA;
}
.textarea .errorText {
    color: #0048BA;
}
.RememberMe .errorText {
    color: #0048BA;
}
.dFlexRememberMe {
    display:flex;
    align-items:center;
}