.Input .error {
    border:3px solid #FF0000;
}
.Input .errorText {
    color: #FF0000;
}
.textarea .error {
    border:3px solid #FF0000;
}
.textarea .errorText {
    color: #FF0000;
}
.RememberMe .errorText {
    color: #FF0000;
}
.dFlexRememberMe {
    display:flex;
    align-items:center;
}

/* Old error color: #0048BA */