.avatar {
    display: flex;
    flex-direction: column;
    margin:20px;
    margin-bottom: 0;
    width: 20%;
    word-wrap: break-word;
    align-items: center;
}
.avatar img {
    width: 100px;
    height: 100px;
    border-radius:50px;
}
.name {
    color:#000;
    text-align: center;
    display:flex;
    word-wrap:break-word;
    flex-wrap:wrap;
} 