.user {
    margin:35px 51px 10px 51px;
    text-align: center;
}
.user img {
    width: 100px;
    height: 100px;
    border-radius:100px;
}
.following {
    display:flex;
    justify-content: center;
    margin: 10px;
}
.following button {
    background-color:#0275D8;
    border:1px solid #4088FA;
}
.following button:hover {
    transition:border .7s linear;
    opacity:0.9;
    border:1px solid silver;
}    