@import '../../../index.scss';

.iconStyles {
    margin: 0px 7px;
    cursor: pointer;
    &:hover {
        transition: all .3s linear;
        color: #FF5500;
    }
}

.tagAudio {
    height: 50px;
    width: 100%;
    background-color: #00BCD4;
    display: flex;
    align-items: center;
    color: #FFF;
}

.audio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @extend .container;
}

.icon {
    @extend .iconStyles;
}

.iconActive {
    margin: 0px 7px;
    cursor: pointer;
    color: #FF5500;
}

.volumeIcon {
    @extend .iconStyles;
    padding: 10px 0px;
}

.mainControl {
    display: flex;
    align-items: center;
}

.audioProgressAndVolume {
    display: flex;
    align-items: center;
}

.songDriving {
    display: flex;
    align-items: center;
}
.trackPanel {
    display: flex;
    align-items: center;
    .track {
        display: flex;
        align-items: center;
        margin: 0px 5px;
        .singerPhoto {
            img {
                width: 40px;
                height: 40px;
            }
        }
        .trackInf {
            margin: 0px 7px;
            p {
                margin-block-start: 0em;
                margin-block-end: 0em;
                cursor: pointer;
                width: max-content;
                &:hover {
                    transition: all .3s linear;
                    color: #FF5500;
                }
            }
        }
    }
}

.unloadProgress {
    background-color: #82CCD7;
    height: 1px;
    width: 600px;
    margin: 0px 7px;
    cursor: pointer;
}
.loadProgress {
    background-color: #DAAA94;
    height: 1px;
    position: relative;
    width: 0px;
    cursor: pointer;
    z-index: 999;
}

.volumeContainer {
    position: relative;
}

.volume {
    box-sizing: content-box;
    background-color: #82CCD7;
    border: 1px solid #DAAA94;
    transform: rotate(270deg);
    position: absolute;
    bottom: 95px;
    right: -50.5px;
    .volumeRange {
        display: inline-block;
        vertical-align: middle;
    }
}