.tagAudio {
    display: flex;
    height: 90px;
}
.singerPhoto img {
    width: 90px;
    height: 90px;
}
.playerBody {
    background: #00BCD4;
    width: 100%;
}
.unloadProgress {
    background-color: #82CCD7;
    height: 1px;
    width: 100%;
    z-index: 1;
}
.loadProgress {
    background-color: #DAAA94;
    height: 1px;
    position: relative;
    z-index: 10;
    top: -1px;
    width: 0px;
}
.control {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.trackInf {
    box-sizing: border-box;
    padding: 0px 10px;
}
.trackInf h4 {
    font-family: 'Lato', sans-serif;
    color: #F5F5F5;
}
.trackInf p {
    font-family: 'Open Sans', sans-serif;
    color: #93DEE9;
}
.m50 {
    margin:0 30px;
}