$border: 1px solid #E3E3E3;
$row-height: 50px;

.notificationsContent {
    margin-top: 30px;

    .notificationsHeader {
        display: grid;
        grid-template-columns: 50px 5.2fr 2fr 0.5fr;
        align-items: center;
        background-color: #8794aa;
        color: #fff;
        height: $row-height;
        padding: 0 10px;
        border: $border;
        border-right: none;
        border-left: none;

        .headerColumn {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
        }
    }

    .notificationsList {
        border: $border;
        border-top: none;

        .notificationRow {
            display: grid;
            grid-template-columns: 50px 3.5fr 2fr 1fr;
            align-items: center;
            color: #fff;
            height: $row-height;
            padding: 0 10px;
            border: $border;
            border-right: none;
            border-left: none;

            &:last-child {
                border-bottom: none;
            }

            .notificationContent {
                font-size: 16px;
                color: #222;
            }

            .notificationType {
                font-size: 14px;
                color: #555;
                text-align: center;
            }

            .deleteButton {
                justify-self: end;
                font-size: 12px;
            }
        }
    }

    .noNotifications {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px;

        .noNotifications__title {
            color: #5a5a5a;
        }
    }
}